.container {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 2rem;
}

/* .banner {
  border: 2px solid black;
} */

.banner .title {
  font-size: 5rem;
  color: var(--primary);
  margin: 0;
}

.banner .subTitle {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.banner .button {
  padding: 1rem;
  background-color: var(--white);
  color: var(--primary);
  /* background-color: var(--red);
  color: var(--white); */
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
