.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: 100%;
  margin: 0 3rem;
}

.cardImagesContainer {
  display: flex;
  flex-direction: column;
}

.cardImagesContainer .cardImage span {
  max-height: 450px;
  border-radius: 1rem;
  object-fit: cover;
}

.cardImagesContainer .cardThumbnailImages {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  gap: 1.5rem;
}

.cardImagesContainer .cardThumbnailImages span {
  max-width: 100px;
  max-height: 100px;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

.cardContent {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem 2rem;
  /* cursor: pointer; */
  transition: background 150ms ease-in-out;
}

.cardContent:hover {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 1);
}

.cardContent .name {
  font-size: 3.5rem;
  margin-top: 0;
}

.cardContent p {
  font-size: 2rem;
  margin-top: 0;
}

.social_media {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.cardContent p a {
  color: var(--red);
  text-decoration: underline;
}

@media (max-width: 900px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
  }

  .cardImagesContainer .cardThumbnailImages {
    display: grid;
    grid-template-columns: repeat(3, 100px);
  }
}
