.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem 3rem;
}

.header .nav > * {
  font-size: 2rem;
}

.header .nav a {
  color: var(--red);
  text-decoration: underline;
}

.header .nav small {
  margin: 0 1rem;
}

.header .button {
  padding: 1rem;
  background-color: var(--white);
  color: var(--primary);
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.header .button:focus {
  outline: 5px solid var(--red);
}

.header .search {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
}

.header fieldset[disabled] > * {
  pointer-events: none;
}

.header fieldset[disabled] > input {
  background-color: var(--white);
  opacity: 0.9;
  color: var(--lightBlack);
}

.header .search input {
  border: 0;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--black);
  min-width: 300px;
  transition: outline 0.2s linear;
}

.header .search input:focus {
  outline: 5px solid var(--red);
}

.header .search button {
  border: 0;
  border-left: 1px solid var(--black);
  padding: 0.7rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--white);
  cursor: pointer;
  font-size: 2rem;
}
