.main {
  max-width: 1100px;
  margin: 5rem auto;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  height: 100%;
  /* border: 2px solid white; */
}

.hero_img {
  position: absolute;
  top: 30%;
  right: 20%;
  z-index: 1;
}

.heading {
  font-size: 2.5rem;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}
